@tailwind base;
@tailwind components;
@tailwind utilities;

.clipboard-copy:hover {
    cursor: pointer;
}

.clipboard-copy:active path {
    transform: scale(0.9);
}

.no-photo {
    width: 48px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    display: inline-block;
    background-color: #8D9FBF;
    color: #fff;
    border-radius: 50%;
    font-weight: bold;
    text-transform: uppercase;
}
